{% extends "base.html" %}
{% load shop_tags %}
{% load static %}
{% block content %}

        <!-- Start Home Banner -->
        <div class="home-slides home-banner-one owl-carousel owl-theme">
            <div class="main-banner item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="main-banner-content">
                                        <h1>صاحب صنعت <span>راه حلی</span> برای سرمایه گذاری دارد.</h1>
                                        <p>ایجاد چشم انداز پیشرو در آینده</p>
                                        <a href="blog.html" class="learn-more-btn">بیشتر بدانید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-banner item-bg2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="main-banner-content">
                                        <h1>صاحب صنعت <span>راه حلی</span> برای سرمایه گذاری دارد.</h1>
                                        <p>ایجاد چشم انداز پیشرو در آینده</p>
                                        <a href="blog.html" class="learn-more-btn">بیشتر بدانید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-banner item-bg3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="main-banner-content">
                                        <h1>صاحب صنعت <span>راه حلی</span> برای سرمایه گذاری دارد.</h1>
                                        <p>ایجاد چشم انداز پیشرو در آینده</p>
                                        <a href="blog.html" class="learn-more-btn">بیشتر بدانید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Home Banner -->

        <!-- Start Contact Info Boxes Area -->
        <section class="contact-info-boxes">
            <div class="container">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="box">
                            <div class="icon">
                                <i class="flaticon-clock-1"></i>
                            </div>

                            <h5>ساعت اداری:</h5>
                            <p>ش - پ: 9ص - 4ع / تعطیل هفتگی</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="box">
                            <div class="icon">
                                <i class="flaticon-phone"></i>
                            </div>

                            <h5>تماس با ما:</h5>
                            <p><a href="tel:02166672700">021-66672700</a> یا <a href="tel:02166672400">021-66672400</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="box text-right">
                            <a href="mailto:muhammad.heydarymehr@gmail.com" class="btn btn-primary"><i class="flaticon-edit"></i>دریافت نقل و قول <i class="flaticon-back-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Info Boxes Area -->

        <!-- Start Services Boxes Area -->
        <section class="services-boxes-area ptb-100 bg-f7f7f7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="services-box">
                            <div class="icon">
                                <i class="flaticon-robot"></i>
                            </div>
                            <h3>صنایع تحریری <br> مستقل</h3>
                            <p>لورم ایپسوم به راحتی متن ساختاری چاپ و نشر را در بر میگیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <a href="#" class="read-more-btn">ادامه مطلب</a>

                            <div class="back-icon">
                                <i class="flaticon-robot"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="services-box">
                            <div class="icon">
                                <i class="flaticon-motor"></i>
                            </div>
                            <h3>مکانیک <br> شهری</h3>
                            <p>لورم ایپسوم به راحتی متن ساختاری چاپ و نشر را در بر میگیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <a href="#" class="read-more-btn">ادامه مطلب</a>

                            <div class="back-icon">
                                <i class="flaticon-motor"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="services-box">
                            <div class="icon">
                                <i class="flaticon-car-parts"></i>
                            </div>
                            <h3>مهندسی <br> ساختمان</h3>
                            <p>لورم ایپسوم به راحتی متن ساختاری چاپ و نشر را در بر میگیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <a href="#" class="read-more-btn">ادامه مطلب</a>

                            <div class="back-icon">
                                <i class="flaticon-car-parts"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="services-box">
                            <div class="icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                            <h3>صاحب صنعت <br> ساخت و ساز</h3>
                            <p>لورم ایپسوم به راحتی متن ساختاری چاپ و نشر را در بر میگیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <a href="#" class="read-more-btn">ادامه مطلب</a>

                            <div class="back-icon">
                                <i class="flaticon-blueprint"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Boxes Area -->

        <!-- Start Bg Common Style Area -->
        <section class="bg-common-style ptb-100">
            <div class="container">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-7">
                        <div class="quote-common-content">
                            <div class="quote">
                                <p>"رمز پیشی گرفتن این است که شروع کنید. راز شروع به شکست وظایف پیچیده خود را به کارهای کوچک قابل کنترل و شروع از اولین تجربه خود بدانید."</p>

                                <div class="signature">
                                    <img src="{% static 'assets/img/signature.png' %}" alt="signature">
                                </div>
                            </div>

                            <div class="name">
                                <h3>هنری وارد بیشر</h3>
                            </div>
                            <i class="flaticon-quote"></i>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        
<!-- moda-btn -->
        <div class="video-btn" onclick="openModal()">
            <i class="flaticon-circular"></i> پخش ویدیو
                </div>

<!-- modal -->
        <div id="videoModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                     <video id="videoPlayer" controls>
                                <source src="assets\video\rebar.mp4" type="video/mp4">
                                مرورگر شما از تگ ویدیو پشتیبانی نمی‌کند.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Bg Common Style Area -->


        {% show_latest_products %}  
         
        <!-- Start CTA Area -->
        <section class="cta-area ptb-100 bg-black">
            <div class="container">
                <div class="cta-content">
                    <h2>شناخت نیازهای مشتریان و ارائه خدمات مناسب، کلید موفقیت است.</h2>
                    <a href="mailto:muhammad.heydarymehr@gmail.com" class="btn btn-primary">دریافت نقل و قول</a>
                </div>
            </div>

            <div class="map-image"><img src="{% static 'assets/img/map2.png' %}" alt="map"></div>
        </section>
        <!-- End CTA Area -->

    {% show_latest_blog %}  
        <!-- Start Subscribe Area -->
        <section class="subscribe-area">
            <div class="container">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-content">
                            <div class="icon">
                                <i class="flaticon-send"></i>
                            </div>
                            <h5>دریافت آخرین اخبار از شرکت ما!</h5>
                            <span>ما اطلاعات شخصی شما را با هیچ کس به اشتراک نمی گذاریم.</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید." name="EMAIL" required autocomplete="off">

                            <button type="submit" class="btn btn-primary">اشتراک در خبرنامه</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Subscribe Area -->
{% endblock content %}
